@use '@/styles/common/vars' as *;

.wrap-list {
  flex-wrap: wrap;
}

.form {
  .label {
    display: inline-flex;

    .label-icon {
      margin-left: var(--gap-small);
    }
  }
}

.tag-group {
  display: flex;
  flex-wrap: nowrap;
  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--gap-small);
  }
}

.tag-tree {
  .tag-group {
    .tag {
      border-radius: var(--el-tag-border-radius);
    }
  }
}
