// 通用组件
$card-padding-small: calc(var(--el-card-padding) / 2);

// 页面布局
$header-height: 60px;
$body-height: calc(100vh - $header-height);
$left-aside-max-width: 15em;
$right-aside-max-width: 15em;

$aside-padding-top: 1.5em;

:root {
  --description-bg-color: var(--el-bg-color);

  --el-menu-item-height-normal: var(--el-component-size);
}
