@use './normalize.scss' as *;
@use './vars' as *;

$header-height: 60px;
$body-height: calc(100vh - $header-height);
$left-aside-max-width: 15em;
$right-aside-max-width: 15em;

html,
body,
#app {
  min-width: 700px;
}

// 头部
.el-header {
  border-bottom: var(--border-base);
  height: $header-height;
  line-height: $header-height;
  z-index: 1; // 避免底部边框在主体滚动时被遮挡
  position: relative;
}

// 主体
.el-main {
  width: 100%;
}

// 通用
.el-aside,
.el-main {
  height: $body-height;
}
