@use '../vars' as *;

$header-height: 60px;
$body-height: calc(100vh - $header-height);
$left-aside-max-width: 15em;
$right-aside-max-width: 15em;

html,
body,
#app {
  min-width: 700px;
}

// 头部
.el-header {
  border-bottom: var(--base-border);
  height: $header-height;
  line-height: $header-height;
  z-index: 1; // 避免底部边框在主体滚动时被遮挡
  position: relative;

  .nav-bar {
    display: flex;
    justify-content: space-between;

    .logo-container {
      display: flex;
      justify-content: center;
    }

    .nav-content {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: var(--el-border-width);

      .el-menu {
        width: 100%;
        justify-content: flex-end;
      }

      .lang-menu {
        .el-dropdown-link {
          display: flex;
          align-items: center;
        }

        .el-dropdown-menu_item {
          &.active {
            color: var(--el-menu-hover-text-color);
          }
        }
      }
    }
  }
}

// 左侧边栏
.el-aside--left {
  border-right: var(--base-border);
  padding: 1.5em 0;

  .aside-title {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0;
  }

  .el-menu {
    border: none;
  }
}

// 右侧边栏
.el-aside--right {
  //   max-width: $right-aside-max-width;
}

// 主体
.el-main {
  width: 100%;
  overflow-y: auto; // 主体可滚动，头部固定
}

// 部分通用
.el-aside,
.el-main {
  height: $body-height;
}
