@use './index.scss' as *;
@use '../utils.scss' as *;
@use '../vars.scss' as *;

$gap-between-bottom-line: 0.5em;

$resource-item-size: 8em;
$resource-item-description_panel-height: 3em;
$resource-item-gap: 10px;
$--resource-item_tag-gap: 5px;

.topic-menu {
  .topic-item {
    .topic-txt {
      width: calc(
        var(--el-aside-width) - var(--el-menu-level-padding) * 2 -
          var(--el-border-width)
      );
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.tag-picker {
  .el-card__body {
    padding-top: 10px;
  }

  .tag-picker_header {
    line-height: var(--el-component-size);
  }

  .tag-tree-panel {
    .tag-tree {
      &.tags--picked {
        border-bottom: var(--el-border-width) solid var(--el-border-color-light);
        margin-bottom: $gap-between-bottom-line;
        padding-bottom: $gap-between-bottom-line;
      }

      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .tag-tree_title {
        width: 4em;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 0.8em;
        font-weight: 600;
        padding-right: 1em;
        @include txt-v-center(--el-tag-height);
      }

      .tag-tree_children {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    .tag-tree-group_container {
      max-height: 6em;
      //   overflow-y: auto;

      .tag-tree-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: -0.3em;

        .tag-tree {
          margin-top: 0.3em;
        }
      }
    }
  }
}

.resource-empty-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resource-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -$resource-item-gap 0; // 抵消首/尾行的 margin-top

  .resource-item {
    width: $resource-item-size;
    height: $resource-item-size;
    background-color: var(--el-fill-color-light);
    margin: $resource-item-gap 0;

    .el-card__body {
      height: 100%; // 避免描述区域在绝对定位后，因脱离文档流导致高度坍塌而无法定位到底部
      padding: 0;
      position: relative;
    }

    // 资源内容
    .content-panel {
      height: calc(
        $resource-item-size - $resource-item-description_panel-height
      );

      &,
      .resource-icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .resource-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        width: 100%;
        height: 100%;
        border-radius: 4px 4px 0 0;

        img {
          width: $resource-item-size;
          height: $resource-item-size;
        }
      }
    }

    // 描述
    .resource-item-description_panel {
      width: 100%;
      height: $resource-item-description_panel-height;
      position: absolute;
      bottom: 0;
      background-color: white;
      border-radius: 0 0 var(--el-border-width) var(--el-border-width);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .resource-item-description_title {
        font-size: 0.8em;
        font-weight: 600;
      }

      .resource-item_tag-list {
        display: flex;
        //   overflow-x: visible;
        padding: 0 $--resource-item_tag-gap;

        .resource-item_tag {
          margin-right: $--resource-item_tag-gap;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.el-scrollbar.scroll-x {
  overflow-x: visible;
}
