// 项目间通用
@use '@/styles/vars.scss' as *;
// 项目内通用
@use '../vars.scss' as *;
// 组件
@use './topic-picker.scss' as *;
@use './tag-picker.scss' as *;
@use './resource-gallery.scss' as *;

$aside-title-size: 1em;

.main-content {
  height: calc($body-height - var(--el-main-padding) * 2);
}

.aside-container {
  .aside-title {
    font-size: $aside-title-size;
    font-weight: bold;
    margin: $aside-title-size 0;
  }

  .action-group {
  }

  .el-scrollbar {
    border-top: var(--border-base);
    height: calc(
      $body-height - $aside-padding-top * 2 - var(--el-component-size) -
        $aside-title-size * (2 + $bold-font-times) - var(--el-border-width)
    );
  }

  .aside-menu {
    .aside-menu-item {
      .aside-menu-item {
        width: calc(
          var(--el-aside-width) - var(--el-menu-level-padding) * 2 -
            var(--el-border-width)
        );
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
