// 项目间通用
@use '@/styles/vars.scss' as *;
@use '@/styles/utils.scss' as *;
// 项目内公共
@use '.././common/index.scss' as *;
// 页面公共
@use './vars.scss' as *;

$gap-of-bottom-line: 0.5em;

.tag-picker {
  //   --card-padding-small: calc(
  //     var(--el-card-padding) / 2
  //   ); // 外部变量无法导入，浏览器显示未定义，原因未知
  .el-card__header,
  .el-card__body {
    padding: $card-padding-small;
    // padding: var($--card-padding-small);
  }

  .tag-picker_header {
    display: flex;
    align-items: center;
    .el-input {
      .filter-select {
        .el-input {
          width: 80px;
          //   width: max-content;
        }
      }
      .el-select__caret {
        margin-left: 0;
      }
    }
  }

  .tag-tree-panel {
    .tag-tree {
      &.tags--picked {
        border-bottom: var(--el-border-width) solid var(--el-border-color-light);
        margin-bottom: $gap-of-bottom-line;
        padding-bottom: $gap-of-bottom-line;
      }

      display: flex;
      justify-content: flex-start;

      .tag-tree_title {
        width: 4em;
        flex-shrink: 0;
        font-size: 0.8em;
        font-weight: 600;
        padding-right: 1em;
        @include txt-v-center(--el-component-size-small);
      }

      .tag-group {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    .el-scrollbar {
      height: $tag-tree-panel-height;
    }

    .tag-tree-group {
      max-height: max-content;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: -$tag-tree-margin-top;
      padding-right: var(--el-card-padding);

      .tag-tree {
        margin-top: $tag-tree-margin-top;

        .tag-group {
          .tag {
            .el-radio-button__inner {
              border-left: var(--border-base);
              border-radius: var(--el-border-radius-base);
            }
            &.is-active .el-radio-button__inner {
              border-left: 0;
            }
          }
        }
      }
    }
  }
}

.el-popper.filter-select_popper {
  width: max-content;
  .el-select-dropdown__item {
    font-size: var(--el-font-size-extra-small);
  }
}
