// 项目间通用
@use '@/styles/common/vars' as *;
// 项目内通用
@use '../common/vars' as *;
// 页面通用
@use './vars.scss' as *;

.topic-picker {
  display: flex;
  flex-direction: column;

  .check-all-topic {
    display: flex;
    justify-content: flex-start;
    padding-left: var(--el-menu-base-level-padding);
  }

  .topic-scroll {
    $initial-scroll-height: calc(
      $body-height - $aside-padding-top * 2 - var(--el-component-size) -
        $aside-title-size * (2 + $bold-font-times) - var(--el-border-width) -
        var(--topic-default-items-count) * var(--el-menu-item-height)
    );
    height: $initial-scroll-height;

    &.showCheckbox {
      height: calc($initial-scroll-height - var(--el-component-size));
    }
  }
}

.el-popper.el-popover.context-menu_popover {
  padding: 0;

  .context-menu {
    border-right: 0;

    .context-menu-item.is-active {
      color: var(--el-menu-text-color); // 取消选中样式
    }
  }
}
