$tag-gap: 5px;

.wrap-list {
  flex-wrap: wrap;
}

.tag-group {
  display: flex;
  flex-wrap: nowrap;
  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $tag-gap;
  }
}

.tag-tree {
  .tag-group {
    .tag {
      border-radius: var(--el-tag-border-radius);
    }
  }
}
