:root {
  --border-base: var(--el-border-width) solid var(--el-border-color, #dcdfe6);

  //   $--card-padding-small: calc(var(--el-card-padding) / 2); css 变量无法生效，原因未知
}

$card-padding-small: calc(var(--el-card-padding) / 2);

$bold-font-times: 1.3;
